
.vs/Helpdesk_Support_System/config/applicationhost.config
.vs/Helpdesk_Support_System/DesignTimeBuild/.dtbcache.v2
.vs/Helpdesk_Support_System/v16/.suo
Client/bin/Debug/netcoreapp3.1/Client.dll
Client/bin/Debug/netcoreapp3.1/Client.exe
Client/bin/Debug/netcoreapp3.1/Client.pdb
Client/bin/Debug/netcoreapp3.1/Client.runtimeconfig.dev.json
Client/bin/Debug/netcoreapp3.1/Client.Views.dll
Client/bin/Debug/netcoreapp3.1/Client.Views.pdb
Client/obj/Client.csproj.nuget.dgspec.json
Client/obj/Client.csproj.nuget.g.props
Client/obj/Debug/netcoreapp3.1/apphost.exe
Client/obj/Debug/netcoreapp3.1/Client.assets.cache
Client/obj/Debug/netcoreapp3.1/Client.csproj.FileListAbsolute.txt
Client/obj/Debug/netcoreapp3.1/Client.dll
Client/obj/Debug/netcoreapp3.1/Client.GeneratedMSBuildEditorConfig.editorconfig
Client/obj/Debug/netcoreapp3.1/Client.genruntimeconfig.cache
Client/obj/Debug/netcoreapp3.1/Client.pdb
Client/obj/Debug/netcoreapp3.1/Client.Views.dll
Client/obj/Debug/netcoreapp3.1/Client.Views.pdb
Client/obj/Debug/netcoreapp3.1/Razor/Views/_ViewImports.cshtml.g.cs
Client/obj/Debug/netcoreapp3.1/Razor/Views/_ViewStart.cshtml.g.cs
Client/obj/Debug/netcoreapp3.1/Razor/Views/Home/Index.cshtml.g.cs
Client/obj/Debug/netcoreapp3.1/Razor/Views/Home/Privacy.cshtml.g.cs
Client/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_Layout.cshtml.g.cs
Client/obj/Debug/netcoreapp3.1/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Client/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs
Client/obj/project.assets.json
Client/obj/project.nuget.cache
Helpdesk_Support_System/API.csproj.user
Helpdesk_Support_System/appsettings.json
Helpdesk_Support_System/bin/Debug/netcoreapp3.1/API.dll
Helpdesk_Support_System/bin/Debug/netcoreapp3.1/API.exe
Helpdesk_Support_System/bin/Debug/netcoreapp3.1/API.pdb
Helpdesk_Support_System/bin/Debug/netcoreapp3.1/API.runtimeconfig.dev.json
Helpdesk_Support_System/bin/Debug/netcoreapp3.1/appsettings.json
Helpdesk_Support_System/Migrations/20220405143735_add_db.cs
Helpdesk_Support_System/Migrations/20220405143735_add_db.Designer.cs
Helpdesk_Support_System/Migrations/MyContextModelSnapshot.cs
Helpdesk_Support_System/obj/API.csproj.nuget.dgspec.json
Helpdesk_Support_System/obj/API.csproj.nuget.g.props
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.assets.cache
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.csproj.AssemblyReference.cache
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.csproj.CoreCompileInputs.cache
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.dll
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.GeneratedMSBuildEditorConfig.editorconfig
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.genruntimeconfig.cache
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/API.pdb
Helpdesk_Support_System/obj/Debug/netcoreapp3.1/apphost.exe
Helpdesk_Support_System/obj/project.assets.json
Helpdesk_Support_System/obj/project.nuget.cache
