@{
    ViewData["Title"] = "Login Employee";
}

@{
    Layout = "_LayoutLogin";
}

<div class="container-fluid p-0" >
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card" id="bgBody">
                <div>
                    <div class="login-main"id="cardLogin">
                        <form action="/LoginEmployee" method="POST" class="theme-form" >
                            <center>
                                <h3>Welcome Our Employee </h3>
                                <p>Please login to start your session</p>
                            </center>
                            
                            <div class="form-group">
                                <label class="col-form-label">Email Address</label>
                                <input name="Email" class="form-control" type="email" required="" placeholder="yourEmail@domain.com">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input name="password" class="form-control" type="password" required="" placeholder="*********">
                                    <div class="show-hide"><span class="show">                         </span></div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="text-muted" for="checkbox1">Remember password</label>
                                </div>
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" type="submit">Log in</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
