@{
    ViewData["Title"] = "Register Customer";
}

@{
    Layout = "_LayoutRegister";
}
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-xl-7 p-0"><img class="bg-img-cover bg-center" src="../assets/images/login/1.jpg" alt="looginpage"></div>
        <div class="col-xl-5 p-0">
            <div class="login-card">
                <div>
                    <div class="login-main" id="cardLogin">
                        <form class="theme-form">
                            <center>
                                <h2>Create your account</h2>
                                <p>Enter your personal details to create account</p>
                            </center>
                            

                            <div class="form-group">
                                <label class="col-form-label pt-0">Your Name</label>
                                <div class="row g-2">
                                    <div class="col-6">
                                        <input class="form-control" type="text" required="" placeholder="First name">
                                    </div>
                                    <div class="col-6">
                                        <input class="form-control" type="text" required="" placeholder="Last name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Email Address</label>
                                <input class="form-control" type="email" required="" placeholder="Test@gmail.com">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                <div class="form-input position-relative">
                                    <input class="form-control" type="password" name="login[password]" required="" placeholder="*********">
                                    <div class="show-hide"><span class="show"></span></div>
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                

                                <button class="btn btn-primary btn-block w-100" type="submit" style="margin-top:5%">Create Account</button>
                            </div>
                            
                                <p class="mt-4 mb-0 text-center">
                                    Already have an account?<a class="ms-2" href="/Home">Sign in</a>
                                </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    

